<style>
td, tr {
	text-align: center;
}

th {
	text-align: center;
	background: #3C54A4;
	color: white;
}

.thead {
	height: 35px;
	padding: 5px 10px;
}

.table {
	align: center;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	border-collapse: collapse;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	background: #ffffff;
	margin-top: 100px;
	margin-bottom: 100px;
}
</style>
<div ng-controller="UserListController as ulctrl">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Users</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody >
		
			<tr  ng-repeat="data in myData" style="height: 35px" size="5" multiple>
				<td>{{data.userName}}</td>
				<td>
					<button type="button" id="updateButton"
						class="glyphicon glyphicon-edit"
						ng-click="editUser(data.userName)"></button>
<!--
					<button type="button" id="updateButton"
						class="glyphicon glyphicon-trash"
						ng-click="deleteUser(data.userName);"></button>
-->
				</td>
			</tr>
		
		</tbody>	
	</table>
</div>
